@{
    Layout = null; // Define que não há um layout para esta página
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Bacony Company</title>
</head>
<body>
    <h1>Welcome to Bacony Company</h1>
</body>
</html>
